---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

const Img1 = "https://source.unsplash.com/9BoqXzEeQqM";
const Img2 = "https://source.unsplash.com/wdTpPg4ukd8";
const Img3 = "https://source.unsplash.com/mZnx9429i94";

const interests = [
  {
    name: "Books",
    url: "books",
    title: "I like specially science fiction",
    avatar: {
      src: Img1,
      width: 480,
      height: 560,
    },
  },
  {
    name: "Sports",
    url: "sports",
    title: "I practice sports like basketball, soccer and a weird one called ulama",
    avatar: {
      src: Img2,
      width: 580,
      height: 580,
    },
  },
  {
    name: "Software development",
    title: "I use React, Nodejs, and Unity 3d",
    url: "programming",
    avatar: {
      src: Img3,
      width: 580,
      height: 580,
    },
  },
];
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">I am described as ...</h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Technology enthusiast, insterested In Web and Video Game development.
        Insatiable curiosity, always looking to understand the world.
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        interests.map((item) => (
          <div class="group">
            <div class="w-full aspect-square">
              <img
                transition:name={item.url}
                {...item.avatar}
                alt="Team"
                class="w-full h-full object-cover rounded transition  group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>
            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800"> {item.name}</h2>
              <h3 class="text-sm text-slate-500"> {item.title}</h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
