---
import Layout from "@layouts/Layout.astro";
---

<Layout title="404">
  <figure class="bg-slate-100 rounded-xl p-8 m-20">
    <h1 class="text-yellow-300 text-center text-5xl">404</h1>
    <div class="pt-6 space-y-4">
      <h1 class="flex-row text-3xl text-center">This page is Lost</h1>
      <p class="text-lg font-medium p-11 text-center">
        Seems that you are lost, you can make your way to the <a
          class="text-green-600 hover:underline"
          href="/">landing page</a
        >.
      </p>
    </div>
  </figure>
</Layout>
