---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "React JS",
    description:
      "Build web apps capable of interact with APIS. Build scalable apps with Typescript and state management with React Context",
    icon: "simple-icons:react",
  },
  {
    title: "Unity",
    description:
      "2d and 3d Videogame Development for PC and Android using C#. AR Experiences with Vuforia Engine.",
    icon: "simple-icons:unity",
  },
  {
    title: "Node JS",
    description:
      "Use Express js to manage the CRUD of a database and create a REST API. Autentification and session management with JSON web token.",
    icon: "simple-icons:nodejs",
  },
  {
    title: "Blender",
    description:
      "Basic Modeling, Texturing and Animation with Blender.",
    icon: "simple-icons:blender",
  },
  {
    title: "Corel Draw",
    description:
      "Hability to create vector graphics with the Corel Draw Suite.",
    icon: "file-icons:coreldraw-alt",
  },
  {
    title: "Photoshop",
    description:
      "Basic knowledge of bitmap graphics manipulation using the Adobe Suite.",
    icon: "simple-icons:adobephotoshop",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">Skills</h2>
  <p class="text-lg mt-4 text-slate-600">
    I am into web and game development also I have some design skills
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
